/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #ffc0cb;
  padding: 1rem 2rem;
  color: rgb(0, 0, 0);
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: rgb(74, 12, 12);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #566460; /* Цвет при наведении */
} 